ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
background-color: #f1f1f1;
}

li a {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}

li a:hover {
background-color: #555;
color: white;
}

h1 {
    color: black;
    background-color: #d9eda3; 
}

h2 {
    color: white;
    background-color: #474747;
}

p {
    color: #636800;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
